// --------- Varies ----------
$font: "Sans Serif";
$main: #1c1c1c;


// --------- Global-Tags ----------
html {
  overflow-x: hidden;
  box-sizing: border-box;
  &.hidden {
    overflow-y: hidden;
  }
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $main;
}
a {
	text-decoration: none;
  color: $main;
  display: inline-block;
}
button {
  outline: none;
  border: none;
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}
input {
  outline: none;
  border: none;
  font-family: inherit;
  background-color: transparent;
}
textarea {
  outline: none;
  border: none;
  font-family: inherit;
  background-color: transparent;
  resize: none;
}
section {
  position: relative;
}

// --------- Global-Classes ----------
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}
.wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(#000, 0.3);
  }
}

// --------- ScrollBar ----------
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
}
::-webkit-scrollbar-track {
  background-color: #1c1c1c;
}
